.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.jpg
*.png
*.txt
*.csv
*.xml
*.xlsx
*.json
*.html
*.pt
*.pth
*.bin
*.trt
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
Qwen-1_8B-Chat
Qwen-7B-Chat
Qwen-14B-Chat
Qwen-72B-Chat
Baichuan2-7B-Chat
Baichuan2-13B-Chat
chinese-alpaca-2-1.3b
chinese-alpaca-2-7b
chinese-alpaca-2-13b
!data_demo.json
!README_IMAGE/001.jpg
