.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.jpg
*.png
*.txt
*.csv
*.xml
*.xlsx
*.json
*.html
*.pt
*.pth
*.bin
*.trt
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
!data_demo.json
!README_IMAGE/001.jpg
